# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.exe`
*.class

# Ignore build directory
/build/

# Ignore generated CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore Visual Studio Code settings directory
.vscode/
